.container {
    display: grid;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: var(--sq-card-border);
    border-radius: var(--sq-card-border-radius);
    grid-template-areas: "i n";
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    padding: var(--sq-tile-padding);
    background-color: var(--sq-card-background-color);
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.container:focus,
.container:active {
    background-color: var(--sq-ripple-color);
    border-radius: var(--sq-card-border-radius);
    outline: none;
}

.icon {
    grid-area: i;
    display: flex;
    justify-content: center;
    align-self: center;
    height: var(--sq-icon-size);
    width: var(--sq-icon-size);
    padding: var(--sq-tile-padding);
    border-radius: 50%;
    color: rgb(var(--sq-inactive-rgb));
    background-color: rgb(var(--sq-inactive-rgb), var(--sq-icon-opacity));
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.name {
    grid-area: n;
    place-self: center start;
    max-height: 3.6rem;
    line-height: 1;
    max-width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: var(--sq-primary-font-weight);
    font-size: var(--sq-primary-font-size);
    color: rgb(var(--sq-primary-font-rgb));
}

@keyframes blink {
    50% {
        opacity: 0.25;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
