.container {
    grid-template-areas:
        "i n"
        "i s";
    grid-row-gap: 0.3rem;
}
.name {
    place-self: end start;
}
.state {
    grid-area: s;
    align-self: start;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: var(--sq-secondary-font-weight);
    font-size: var(--sq-secondary-font-size);
    color: rgb(var(--sq-secondary-font-rgb));
}
